.signup-content {
  background-color: #fce23c;
  width: 100vw;
  height: 100vh;
}
.signup__form {
  background-color: #624dd6;
  padding: auto;
  padding-top: 20px;
  overflow: hidden;
  width: 100vw;
  height: 385px;
  border-radius: 0 0 50% 50%;
  background-image: linear-gradient(-180deg, #624dd6 0%, #624dd6 100%);
  box-shadow: 0 0.4rem 1rem 0 rgba(22,75,195,0.50), 0 -0.25rem 1.5rem 
                              rgba(110, 15, 155, 1) inset, 0 0.75rem 0.5rem 
                              rgba(255,255,255, 0.4) inset, 0 0.25rem 0.5rem 0 
                              #624DD6 inset;
}
.signup__item {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  background-color: #fce23c;
  color: #624dd6;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 20px;
  text-align: center;
  outline: none;
  border: none;
}

.user-data__photo {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: white;
  color: #624dd6;
  font-family: 'Nunito';
  text-shadow: 0px 0px 0 rgb(94,73,210),
            0px 1px  0 rgb(90,69,206),
            0px 2px 1px rgba(0,0,0,0.45),
            0px 1px 1px rgba(0,0,0,0.5),
            0px 0px 1px rgba(0,0,0,.2);
  font-size: 1.2rem;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: 0 3px 3px #575555 inset;

}
.signup_button {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #62c052;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  text-align: center;
  outline: none;
  background-image: linear-gradient(-180deg, #62c052 0%, #62c052 100%);
  box-shadow: 0 0.2rem 0.3rem 0 rgba(8, 80, 8, 0.5), 0 -0.25rem 1.5rem 
                                #62C052 inset, 0 0.75rem 0.5rem 
                                rgba(255,255,255, 0.4) inset, 0 0.25rem 0.5rem 0 
                                rgb(70, 207, 123) inset;
}
.signup__login {
  margin-top: 20px;
  color: white;
  /* list-style: none; */
  font-size: 1rem;
}
.slogan {
  font-family: "LuckiestGuy";
  color: #624dd6;
  font-size: 4rem;
}
@font-face {
  font-family: "LuckiestGuy";
  src: url("/public/LuckiestGuy-Regular.ttf");
}

/* Media queries for tablets */
@media (min-width: 600px) {

  .signup__form {
    height: 530px;
    padding-top: 40px;
  }
  .signup__item {
    width: 300px;
    height: 50px;
    font-size: 1.6rem;
  }
  
  .user-data__photo {
    margin-top: 20px;
    width: 160px;
    height: 160px;
    font-size: 1.8rem;
  }

  .signup_button {
    width: 300px;
    height: 50px;
    font-size: 1.8rem;
  }

  .signup__login {
    font-size: 1.3rem;
  }

  .slogan {
    font-size: 5.4rem;
  }
}

/* Media queries for desktops */
@media (min-width: 1025px) {

  .signup__form {
    height: 540px;
    padding-top: 40px;
  }
  .signup__item {
    width: 400px;
    height: 60px;
    font-size: 1.8rem;
  }
  
  .user-data__photo {
    margin-top: 20px;
    width: 160px;
    height: 160px;
    font-size: 1.8rem;
  }

  .signup_button {
    width: 400px;
    height: 60px;
    font-size: 1.8rem;
  }

  .signup__login {
    font-size: 1.4rem;
  }

  .slogan {
    font-size: 7rem;
    line-height: 1.1;
  }
}