.login-content {
  background-color: #fce23c;
  width: 100vw;
  height: 100vh;
}
.login__form {
  background-color: #624dd6;
  padding: auto;
  overflow: hidden;
  width: 100vw;
  height: 365px;
  border-radius: 0 0 50% 50%;
  background-image: linear-gradient(-180deg, #624dd6 0%, #624dd6 100%);
  box-shadow: 0 0.4rem 1rem 0 rgba(22,75,195,0.50), 0 -0.25rem 1.5rem 
                              rgba(110, 15, 155, 1) inset, 0 0.75rem 0.5rem 
                              rgba(255,255,255, 0.4) inset, 0 0.25rem 0.5rem 0 
                              #624DD6 inset;
}
.login__item {
  width: 200px;
  height: 40px;
  margin-top: 50px;
  background-color: #fce23c;
  color: #624dd6;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  text-align: center;
  outline: none;
  border: none;
}
.login_button {
  width: 200px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #62c052;
  color: #fce23c;
  font-weight: 500;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  text-align: center;
  outline: none;
  background-image: linear-gradient(-180deg, #62c052 0%, #62c052 100%);
  box-shadow: 0 0.2rem 0.3rem 0 rgba(8, 80, 8, 0.5), 0 -0.25rem 1.5rem 
                                #62C052 inset, 0 0.75rem 0.5rem 
                                rgba(255,255,255, 0.4) inset, 0 0.25rem 0.5rem 0 
                                rgb(70, 207, 123) inset;
}
.login__signup {
    color: white;
    list-style: none;
}
.slogan {
  top: 500px;
  position: absolute;
  left: 50%;
  font-family: "LuckiestGuy";
  color: #624dd6;
  font-size: 40px;
  transform: translate(-50%, 0);
}
@font-face {
  font-family: "LuckiestGuy";
  src: url("/public/LuckiestGuy-Regular.ttf");
}
