.kid-list__back_arrow {
  margin: auto;
  width: 40px;
}

.kid-list_title_bar {
  display: flex;
  background-color: #624dd6;
  padding: 10px;
  overflow: hidden;
  width: 100vw;
}
.kid-list_title_bar_center_title {
  color: #fce23c;
  flex: 1;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  padding-right: 40px;
}
.kid_list_add {
  color: white;
  font-size: 20px;
  text-align: right;
  width: 80px;
  margin: auto;
}

.kid-add-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.kid-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 240px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: #62C052;
  color: #624DD6;
  font-family: 'Nunito';
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  outline: none;
  background-image: linear-gradient(-180deg, #62C052 0%, #62C052 100%);
    box-shadow: 0 0.2rem 0.2rem 0 rgba(8, 80, 8, 0.5), 0 -0.25rem 1rem 
                                #62C052 inset, 0 0.75rem 0.5rem 
                                 rgba(255,255,255, 0.4) inset, 0 0.25rem 0.2rem 0 
                                 rgb(70, 207, 123) inset; 
}

.kid-list__title {
  color: #624DD6;
  margin-top: 10px;
  font-family: 'Nunito';
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center; 
}

.kid_list_top_text {
  color: #624dd6;
  font-weight: 800;
  font-size: 18px;
  margin: 10px 0 20px 0;
}
.style_title_bar {
  display: flex;
  background-color: #624dd6;
  padding: 10px;
  overflow: hidden;
  width: 100vw;
}
.style_title_bar_center_title {
  color: #fce23c;
  flex: 1;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  padding-right: 40px;
}
.kid_list_item {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kid_list_photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  overflow: hidden;
}
.kid_list_item_center {
  margin: 10px;
}
.kid-details-button {
  margin: 10px;
    width: 80px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: #FCE23C;
    color: #624dd6;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    outline: none; 
    background-image: linear-gradient(-180deg, #FCE23C 0%, #FCE23C 100%);
    box-shadow: 0 0.2rem 0.4rem 0 rgba(79, 80, 8, 0.5), 0 -0.25rem 1.5rem 
                                #FCE23C inset, 0 0.75rem 0.5rem 
                                    rgba(255,255,255, 0.4) inset, 0 0.25rem 0.5rem 0 
                                    #fcf9e6 inset; 
}