@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.task-page {
    display: flex;
    flex-direction: column;
    width:100%;
    overflow: hidden;
    height: 100vh;
    background: #ebe9f8;
}

.task-page__add-task-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.task-page__add-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 240px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #FCE23C;
    color: #624DD6;
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 1.4rem;
    text-align: center;
    outline: none;
    background-image: linear-gradient(-180deg, #FCE23C 0%, #FCE23C 100%);
    box-shadow: 0 0.2rem 0.3rem 0 rgba(79, 80, 8, 0.5), 0 -0.25rem 1.5rem 
                                #FCE23C inset, 0 0.75rem 0.5rem 
                                    rgba(255,255,255, 0.4) inset, 0 0.25rem 0.5rem 0 
                                    #fcf9e6 inset; 
}

.task-page__task-list-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.task-page__task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    justify-content: center;
}

.task-card {
    background-color: #fff8cd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 8px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-card__due-soon{
    background-color: #f8acb3;
}

.task-card__content {
    margin-bottom: auto;
}

.task-card__description {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: calc(1.5rem + 1vw);
    color: #624DD6;
    margin: 0;
}

.task-card__details {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: calc(1rem + 1vw);
    color: #333333;
    margin: 0;
}

.task-card__actions {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.task-card__action-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.task-item__remove-from-list,
.task-item__execute-task-btn,
.task-item__lose-task-btn,
.task-item__update-task-btn {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.task-remove-btn__image,
.execute-task-btn__image,
.lose-task-btn__image,
.update-task-btn__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.task-btn-label {
    display: block;
    font-size: calc(1rem + 0.2vw);
    font-weight: 500;  
}

.task-btn-label.done {
    color: #28a745; 
}
.task-btn-label.update {
    color: #624DD6; 
}
.task-btn-label.failed {
    color: #dc3545; 
}
/* Responsive Tablet Layout */
@media (min-width: 768px) {
    .task-page {
        position: relative;
        background: none; 
    }
    .task-page::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../images/taskbackground.png");
        background-size: cover;
        background-position: center;
        opacity: 0.4; 
        z-index: -1; 
    }
    .task-page__task-list {
        margin: 2rem;
        display: grid;
        gap: 2rem; 
    }
    .task-card {
        width: 100%;
    }

    .task-page__task-list {
        grid-template-columns: repeat(2, 1fr); 
    }
    .task-page__add-task-button {
        width: 300px;
        height: 60px;
        font-size: 1.6rem;
    }
}

/* Responsive Desktop Layout */
@media (min-width: 1024px) {
    
    .task-page__task-list {
        grid-template-columns: repeat(3, 1fr); 
    }
    .task-page__add-task-button {
        width: 350px;
        height: 70px;
        font-size: 1.8rem;
    }
}
